include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer
include ../components/products-list/products-list
include ../components/news/news
include ../components/vk-widget/vk-widget
include ../components/filters/filters
include ../components/breadcrumbs/breadcrumbs
include ../components/set-display/set-display
include ../components/pagination/pagination

+doctype(pages.catalogue.title)
  .-wrapper
    +header(false, [pages.catalogue.url, pages.catalogue.url])
    +content
      .container-fluid.-grid._1.affix-col-container
        .row
          .-grid.__col._1.affix-col-position
            .-affix-col
              .-info-order.hidden-xs.hidden-sm
                .__icon.gly.gly-wallet
                .__text Минимальная сумма заказа 500 #[span.rouble a]

              +filters()

          .-grid.__col._2
            +breadcrumbs([{title: 'Каталог', url: pages.catalogue.url},
                {title: 'Вышивание', url: pages.catalogue.url}, {title: 'Наборы для вышивания крестом', url: pages.catalogue.url}])

            h1.h2 Наборы для вышивания крестом

            .-categories-list
              .__inner
                figure.__item
                  +a().__item-inner
                    .__item-img-wrap
                      img.__item-img(
                      src='static/img/content/categories-list/200x200/21701-200x200.jpg'
                      srcset='static/img/content/categories-list/200x200/21701-200x200.jpg 1x, static/img/content/categories-list/400x400/21701-400x400.jpg 1.25x'
                      alt='' title='' data-object-fit='contain' onload='objectFit(this)')
                    figcaption.__caption Риолис
                figure.__item
                  +a().__item-inner
                    .__item-img-wrap
                      img.__item-img(
                      src='static/img/content/categories-list/200x200/Алиса-главная-1-200x200.jpg'
                      srcset='static/img/content/categories-list/200x200/Алиса-главная-1-200x200.jpg 1x, static/img/content/categories-list/400x400/Алиса-главная-1-400x400.jpg 1.25x'
                      alt='' title='' data-object-fit='contain' onload='objectFit(this)')
                    figcaption.__caption Алиса
                figure.__item
                  +a().__item-inner
                    .__item-img-wrap
                      img.__item-img(
                      src='static/img/content/categories-list/200x200/runo-200x200.jpg'
                      srcset='static/img/content/categories-list/200x200/runo-200x200.jpg 1x, static/img/content/categories-list/400x400/runo-400x400.jpg 1.25x'
                      alt='' title='' data-object-fit='contain' onload='objectFit(this)')
                    figcaption.__caption Золотое руно
                figure.__item
                  +a().__item-inner
                    .__item-img-wrap
                      img.__item-img(
                      src='static/img/content/categories-list/200x200/logo-rto-1-200x200.jpg'
                      srcset='static/img/content/categories-list/200x200/logo-rto-1-200x200.jpg 1x, static/img/content/categories-list/400x400/logo-rto-1-400x400.jpg 1.25x'
                      alt='' title='' data-object-fit='contain' onload='objectFit(this)')
                    figcaption.__caption RTO
                figure.__item
                  +a().__item-inner
                    .__item-img-wrap
                      img.__item-img(
                      src='static/img/content/categories-list/200x200/pretenziya-200x200.jpg'
                      srcset='static/img/content/categories-list/200x200/pretenziya-200x200.jpg 1x, static/img/content/categories-list/400x400/pretenziya-400x400.jpg 1.25x'
                      alt='' title='' data-object-fit='contain' onload='objectFit(this)')
                    figcaption.__caption Другие



            +set-display()(data-for-list='pl-1')

            +products-list(productsList, null, false)._view_list(id='pl-1')
            //- +products-list(productsList, null, false)

            +pagination()

      div &nbsp;
      .container-fluid.-grid._3
        .row
          .-grid.__col._2
            section.-section
              h2.h1.margin-none-top Продажа товаров для творчества
              p.
                Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации, которая нужна для этого блока. Потом здесь будет ваш текст (кстати, можете его уже готовить) или текст от нашего копирайтера, который потом нужно будет проверить на фактические ошибки, потому что копирайтер - человек творческий и может написать что-то не то. А еще он не обладает специальными знаниями по вашей теме и напишет то, что нашел в интернете. Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации, которая нужна для этого блока.
              p.
                Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации, которая нужна для этого блока. Потом здесь будет ваш текст (кстати, можете его уже готовить) или текст от нашего копирайтера, который потом нужно будет проверить на фактические ошибки, потому что копирайтер - человек творческий и может написать что-то не то. А еще он не обладает специальными знаниями по вашей теме и напишет то, что нашел в интернете. Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации, которая нужна для этого блока.
              ul
                li.
                  Этот текст не несет никакого смысла, текст ради текста
                li.
                  Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации,
                  которая нужна для этого блока. Потом здесь будет ваш текст (кстати, можете его уже готовить)
                  или текст от нашего копирайтера, который потом нужно будет проверить на фактические ошибки,
                  потому что копирайтер - человек творческий и может написать что-то не то.
                  А еще он не обладает специальными знаниями по вашей теме и напишет то, что нашел в интернете.
                  Этот текст не несет никакого смысла, текст ради текста, чтобы показать количество информации,
                  которая нужна для этого блока.

          .-grid.__col._1
            .row
              .col-xs-12.col-sm-6.col-md-12
                +news()

              .col-xs-12.col-sm-6.col-md-12
                +vk-widget()


    +footer